.jumbotron-1-bg{
    background-image: url(https://media.istockphoto.com/photos/interior-of-cozy-restaurant-loft-style-picture-id843610508?k=20&m=843610508&s=612x612&w=0&h=zDihg07dmPyyYPYtLUK-YGrZ2O-tPIMroNvN4DJfuc8=);
    background-size: cover;
    background-position: center center;
    min-height: 400px;

}
.bg-lighter{
    background-color: rgba(255, 255, 255, .35);
}
.alert-rounded{
    border-radius: 50px;
}